.dashboard-container {
    margin: 25px 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-dashboard {
    display: flex;
    flex-direction: column;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-add-device {
    border: 1px solid black;
    background: transparent;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-add-device:hover {
    background: black;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 0 0 #4f4f4f;
}

.btn-add-device:active {
    transform: translateY(0);
    box-shadow: 0 2px 0 0 #4f4f4f;
}

/* CONTENEDOR DE DISPOSITIVOS CREADOS O CONFIGURADOS*/

.devices-content {
    display: flex;
    background: transparent;
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
}

.device-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 99.5%;
    margin: 0;
}

.device-item {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
    margin: 5px 0 10px 5px;
    font-size: 16px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 20px 20px 40px #bebebe,
        -20px -20px 40px #ffffff;
    transition: all 0.3s ease-in-out;
}

.device-item:hover {
    transform: translateY(-5px);
}

.device-actions {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}