.device-edit-container {
    margin: 25px 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-edit-device {
    display: flex;
    gap: 20px;
}

.edit-container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    padding: 20px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: -6px 6px 0 #4f4f4f;
}

.edit-form input {
    height: 30px;
    width: 500px;
    font-size: 15px;
    padding: 0 10px;
    border: 0;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.edit-form input:focus {
    box-shadow: 0 0 10px white;
}

.edit-form select {
    height: 30px;
    width: 500px;
    font-size: 15px;
    padding: 0 10px;
    border: 0;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.edit-form select:focus {
    box-shadow: 0 0 10px white;
}

.edit-form textarea {
    height: 200px;
    line-height: 1.5;
    field-sizing: inherit;
    resize: none;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

.edit-form textarea:focus {
    box-shadow: 0 0 10px white;
}



.timeline-device-content {
    width: 45%;
    background: transparent;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    color: black;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.timeline-device-content h2 {
    margin-bottom: 10px;
}

.timeline-device-content::-webkit-scrollbar {
    width: 0px;
}

.timeline-list {
  position: relative;
  margin-left: 20px;
  padding-left: 22px;
  border-left: 3px solid black;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-top: 20px;
}

.timeline-dot {
  width: 14px;
  height: 14px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50px;
}

.timeline-content {
  background: black;
  padding: 15px 20px;
  border-radius: 10px;
  width: 100%;
  color: white;
  border: 0;
  box-shadow: -3px 6px 0 #4f4f4f;
}

.timeline-title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.timeline-date {
  margin: 5px 0 10px 0;
  font-size: 14px;
  opacity: 0.8;
}

.badge-active {
  background: white;
  color: black;
  padding: 4px 10px;
  border-radius: 12px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
}

.badge-latest {
  background: transparent;
  color: white;
  padding: 4px 10px;
  border: 1px solid white;
  box-shadow: 0 0 5px white;
  border-radius: 12px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
}

.timeline-item.active .timeline-dot {
  background-color: white;
  box-shadow: 0 0 10px black;
}

