.device-edit-container {
  margin: 25px 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-edit-device {
  display: flex;
  gap: 20px;
}

.edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 40px;
  font-size: 20px;
  border-radius: 40px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;

}

.edit-form label {
  background-color: transparent;
}

.edit-form input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 10px 40px #c5c5c5,
    -20px -10px 40px #ffffff;
  transition: 0.3s;
}

.edit-form input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
    inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}


.edit-form select {
  height: 30px;
  width: 500px;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  background: #e8e8e8;
  box-shadow: 20px 10px 40px #c5c5c5,
    -20px -10px 40px #ffffff;
  transition: 0.3s;
}

.edit-form select:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
    inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.edit-form textarea {
  height: 200px;
  line-height: 1.5;
  field-sizing: inherit;
  resize: none;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 10px 40px #c5c5c5,
    -20px -10px 40px #ffffff;
  transition: 0.3s;
}

.edit-form textarea:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
    inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}



.timeline-device-content {
  width: 45%;
  padding: 20px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 40px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.timeline-device-content h2 {
  margin-bottom: 10px;
  background-color: transparent;
}

.timeline-device-content::-webkit-scrollbar {
  width: 0px;
}

.timeline-list {
  position: relative;
  margin-left: 20px;
  padding-left: 22px;
  border-left: 3px solid gray;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: transparent;
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-top: 20px;
}

.timeline-dot {
  width: 14px;
  height: 14px;
  background-color: gray;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 60px;
}

.timeline-content {
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  padding: 15px 20px;
  border-radius: 10px;
  width: 100%;
  color: black;
  border: none;

}

.timeline-title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
}

.timeline-date {
  background-color: transparent;
  margin: 5px 0 10px 0;
  font-size: 14px;
  opacity: 0.8;
}

.badge-active {
  background: white;
  color: black;
  padding: 4px 10px;
  border-radius: 12px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
}

.badge-latest {
  background: transparent;
  color: black;
  padding: 4px 10px;
  border: 1px solid black;
  border-radius: 12px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
}

.timeline-item.active .timeline-dot {
  background-color: white;
  box-shadow: 0 0 10px black;
}