.new-device-container{
    margin: 25px 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-new-device{
    display: flex;
    gap: 20px;
}

.form-device{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-device input {
    padding: 10px;
}

.new-device-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.add-device-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 15px;
    background-color: black;
    color: white;
    padding: 30px 20px;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: -5px 10px 0 #4f4f4f;
}

.new-device-form input {
    height: 30px;
    font-size: 15px;
    padding: 0 10px;
    border: 0;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}


.new-device-form input:focus {
    box-shadow: 0 0 10px white;
}

.new-device-form select {
    height: 30px;
    width: 500px;
    font-size: 15px;
    padding: 0 10px;
    border: 0;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.new-device-form select:focus {
    box-shadow: 0 0 10px white;
}


.new-device-form textarea {
    height: 150px;
    line-height: 1.5;
    field-sizing: inherit;
    resize: none;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

.new-device-form textarea:focus {
    box-shadow: 0 0 10px white;
}