.new-device-container {
    margin: 25px 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-new-device {
    display: flex;
    gap: 20px;
}

.form-device {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.new-device-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.add-device-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 15px;
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    color: black;
    padding: 30px 20px;
    font-size: 20px;
    border-radius: 30px;
}

.add-device-form label {
    background-color: transparent;
}

.new-device-form input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 10px 40px #c5c5c5,
        -20px -10px 40px #ffffff;
    transition: 0.3s;
}


.new-device-form input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
        inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.new-device-form select {
    height: 30px;
    width: 500px;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    background: #e8e8e8;
    box-shadow: 20px 10px 40px #c5c5c5,
        -20px -10px 40px #ffffff;
    transition: 0.3s;
}

.new-device-form select:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
        inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}


.new-device-form textarea {
    height: 150px;
    line-height: 1.5;
    field-sizing: inherit;
    resize: none;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 10px 40px #c5c5c5,
        -20px -10px 40px #ffffff;
    transition: 0.3s;
}

.new-device-form textarea:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
        inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}