.btn-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-action:hover {
    transform: scale(0.9);
    background: white;
    border: 1px solid white;
    box-shadow: 0 0 10px white;
}

