.btn-action {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}



.btn-action:hover {
    background-color: white;
    color: black;
    transform: translateY(-5px);
    box-shadow: 0 5px 0 0 gray;
}

.btn-action:active {
    transform: translateY(0);
    box-shadow: 0 2px 0 0 gray;
}